.msg{
    width: 100%;

    display: flex;
    justify-content: center;
}
h1,h2{
    position: relative;
    margin:5px;
    width:fit-content;
}
#left{
    border:solid;
    display: inline-block;
}
#right{
    margin: 25px;
    border: solid;
    border: 2px;
    border-color: red;
}
#flex{
    display: flex;
    justify-content: center;
    align-items: baseline;
}